name: Microservices CI Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout source
      uses: actions/checkout@v4

    - name: Configure AWS Credentials (OIDC)
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::667516053986:role/github-actions-eks-staging-demo
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker image
      run: |
        docker build -t microservices-demo .

    - name: Tag Docker image
      run: |
        docker tag microservices-demo:latest \
        <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/microservices-demo:latest

    - name: Push image to ECR
      run: |
        docker push <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/microservices-demo:latest
